* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

html,
body,
#root {
  height: 100vh;
  background-color: #f2f2f2;

}

input, button {
  font-family: 'Roboto', sans-serif;

}
