.container {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.container main {
  width: 90%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
   align-items: center;
  margin: 80px auto;
}

main .content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 380px;
}

main .content h1 {
  width: 406px;
  height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2d9cdb;
}

.content .subtitle {
  width: 330px;
  height: 84px;
}

.content .subtitle p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #333333;
}

.content .description {
  width: 406px;
  height: 108px;
}

.content .description p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #828282;
}

.content a {
  border: none;
  background-color: #0071BC;
  color: #fff;
  text-transform: uppercase;
  width: 250px;
  height: 48px;
  border-radius: 4px;
  margin: 0 auto;
  text-decoration: none;

  transition: background-color 0.5s;

  font-size: 14px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content a:hover {
  background-color: #004f83;
}
