nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  background-color: #fff;
}

 .menu-items {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #828282;
}

.menu-items ul li a {
  text-decoration: none;
  color: #828282;

  transition: color 0.5s;

}

.menu-items ul li a:hover {
  color: #5b5b5b;
  font-weight: 700;
}


.menu-items ul span {
  padding: 0 20px;
} 

.menu-items button {
  border: none;
  text-transform: uppercase;
  color: #fff;
  width: 144px;
  height: 50px;
  background-color: #2d9cdb;
  border-radius: 3px;
  margin-left: 30px;
}

@media (max-width: 900px) {
  .menu-items {
   display: none;
  }
}