.container {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
}

.screening-container {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.screening-container .progress {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screening-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-width: 600px;
}

.screening-content header {
  width: 100%;
  background: #2d9cdb;
  padding: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.24);
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
}
.screening-image img {
  width: 600px;
  height: 600px;
}

.screening-space {
  width: 100%;
  height: 100%;
  padding: 32px 24px;
}

.screening-space h4 {
  text-align: center;
}

.screening-space .screening-state {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 0;
}

.screening-state .chip {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  width: 220px;
  height: 45px;
  border-radius: 70px;
}

.screening-space .screening-queue {
  width: 100%;
}

.screening-queue .queueContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.queueContainer div {
  padding: 24px;
}

.screening-space .screening-data {
  width: 100%;
  padding: 24px 0;
}
.screening-data p {
  padding: 0 0 24px 0;
}

.recommendation-content {
  width: 100%;
  height: 100%;
}
.recommendation-content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 10px;

  color: #000;
}

.recommendation-content p {
  opacity: 0.6;
  padding: 16px 0;
}

.recommendation-content .buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* .chip {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  width: 220px;
  height: 45px;
  border-radius: 70px;
}







.screening-content div {
  padding: 24px;
}

.screening-description {
  text-align: center;
}

.screening-state {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.queueContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.screening-data button {
  margin: 24px;
} */
